includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 5
    ignoreErrors:
        -
            message: '#Call to an undefined method Filament\\.*#'
            paths:
                - src/Filament/*
